.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mdl-layout__drawer {
  width: 100%;
}

.diary-card {
	width: 100%;
}

.diary-card  > .mdl-card__title {
	height: 240px;
	color: #fff;
}