<md-content layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Diary</span>
      </h2>
    </div>
  </md-toolbar>

  <md-content>
    <div layout="column" layout-gt-sm="row" layout-wrap layout-padding>
      <div ng-repeat="diaryEntry in photoDiary.entries" flex="50">
        <md-card>
          <img ng-src="{{'/images/'+diaryEntry.img}}" class="md-card-image">
          <md-card-content>
            <h2 class="md-title">{{diaryEntry.title | limitTo: 35}}<span ng-if="diaryEntry.title.length > 35">...</span></h2>
            <div>
              {{diaryEntry.snippet}}
            </div>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
           <md-button ng-click="open($event, diaryEntry)">Read</md-button>
         </div>
        </md-card>
      </div>
    </div>
  </md-content>
  
</md-content>
