<md-content layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Diary</span>
      </h2>
    </div>
  </md-toolbar>

  <md-content>
    <div class="mdl-grid" ng-repeat="diaryEntry in diaryEntries track by $index" ng-if="$index % 2 == 0">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet" ng-repeat="i in [$index, $index + 1]" ng-if="diaryEntries[i] != null">

        <md-card>
          <img ng-src="{{'/images/'+diaryEntries[i].img}}" class="md-card-image">
          <md-card-content>
            <h2 class="md-title">{{diaryEntries[i].title | limitTo: 35}}<span ng-if="diaryEntries[i].title.length > 35">...</span></h2>
            <div>
              {{diaryEntries[i].snippet}}
            </div>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
           <md-button ng-click="open($event, diaryEntries[i])">Read</md-button>
         </div>
        </md-card>
        
      </div>
    </div>
  </md-content>
</md-content>